<%
  def link_to(name, url)
      return "<a href='#{url}' target='_blank'>#{name}</a>"
  end
%>

<html>
  <body>
    <h1>You're u$ing mad layoutz.</h1>
    <p>
      <h3> I'm a header, yo!</h3>
      <p>Put things in the header</p>
      <%= link_to('Kris Kross will make you jump, jump.', 'http://en.wikipedia.org/wiki/Kris_Kross') %>
    </p>
    <hr />
    <div>
      <%= yield %>
    </div>
    <hr />
    <div>
      <h3> I'm a footer, yo!</h3>
      <p>Word to your mother.</p>
    </div>
  </body>
</html>