<hr/>
<h1>Crazy!</h1>
<p>DJ crazy J</p>
<p>we are the dopest freshest crew in all of the Bronx, yo</p>
<img src="http://philly360.visitphilly.com/uploads/media_items/dj-jazzy-jeff-the-fresh-prince-he-s-the-rapper-i-m-the-dj.562.325.c.jpg">
<ul>
  <% ['make jokes', 'drink cokes', 'have tokes'].each do |thing| %>
    <li>I like to <%= thing %></li>
  <% end %>
</ul>